

{% extends "base.html" %}

{% block content %}

<h1>Add New Trek</h1>

<form method="POST">

<label>Trek Name:</label>
<input type="text" name="trek_name">
<br><br>

<label>Location:</label>
<input type="text" name="location">
<br><br>

<label>Duration:</label>
<input type="text" name="duration">
<br><br>

<label>Difficulty:</label>
<input type="text" name="difficulty">
<br><br>

<label>Price:</label>
<input type="number" name="price">
<br><br>

<button type="submit">Add Trek</button>
{% endblock %}

