{% extends "base.html" %}

{% block content %}

<h1>Available Trekking Packages</h1>

<table border="1">

<tr>
    <th>Name</th>
    <th>Location</th>
    <th>Duration</th>
    <th>Difficulty</th>
    <th>Price</th>
</tr>

{% for trek in treks %}

<tr>
    <td>{{trek[1]}}</td>
    <td>{{trek[2]}}</td>
    <td>{{trek[3]}}</td>
    <td>{{trek[4]}}</td>
    <td>{{trek[5]}}</td>

    

<td>
    <a href="/book/{{trek[0]}}">
        <button>Book Now</button>
    </a>
</td>
</tr>

{% endfor %}
{% endblock %}