{% extends "base.html" %}

{% block content %}

<div class="text-center mb-4">
    <h1 class="fw-bold">🏔️ Available Trekking Packages</h1>

    <form method="GET" action="/treks">

        <input
            type="text"
            name="search"
            placeholder="Search trek, location or difficulty"
            value="{{ search }}"
        >

        <button type="submit">
            🔎 Search
        </button>

    </form>

    <br>
    <p class="text-muted">
        Choose a trekking package and start your adventure.
    </p>
</div>

<div class="row g-4">

    {% for trek in treks %}

    <div class="col-md-6 col-lg-4">

        <div class="card h-100 shadow-sm border-0">

            <div class="card-body">

                <h4 class="card-title fw-bold">
                    {{ trek[1] }}
                </h4>

                <p class="text-muted mb-2">
                    📍 {{ trek[2] }}
                </p>

                <p>
                    <strong>Duration:</strong>
                    {{ trek[3] }}
                </p>

                <p>
                    <strong>Difficulty:</strong>
                    {{ trek[4] }}
                </p>

                <p>
                    <strong>Available Slots:</strong> {{ trek[6] }}
                </p>

                <p>
                    <strong>Start Date:</strong> {{ trek[8] }}
                </p>

                <p>
                    <strong>End Date:</strong> {{ trek[9] }}
                </p>

                <p>
                    <strong>Status:</strong> {{ trek[7] }}
                </p>

                <h5 class="fw-bold">
                    ₹{{ trek[5] }}
                </h5>

                <a href="/book/{{ trek[0] }}"
                   class="btn btn-primary w-100 mt-3">
                    Book Now
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}